services:
  db:
    container_name: reddex_db
    image: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5433:5432"
  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - cache:/data
networks:
  default:
    name: reddex_v3
volumes:
  postgres_data:
  test_postgres_data:
  cache:
secrets:
  npmrc:
    file: $HOME/.npmrc
  env:
    file: .env
