@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply h-full rounded-md px-5 py-2 text-xs font-bold text-white transition-all hover:shadow-lg;
  }

  .button.main {
    @apply bg-rose-500 hover:bg-rose-600;
  }

  .button.danger {
    @apply bg-red-100 text-red-500;
  }

  .button.secondary {
    @apply bg-white text-rose-500 hover:bg-rose-100;
  }

  .button.third {
    @apply border-[1px] border-gray-300 bg-white text-gray-600;
  }
  .button.main:disabled {
    @apply cursor-not-allowed bg-rose-300 text-rose-500 shadow-none;
  }

  .button.alt {
    @apply bg-gray-100 text-rose-500 shadow-none hover:bg-gray-200;
  }

  .button.simple {
    @apply p-0 text-sm text-rose-500 underline shadow-none;
  }

  .inbox-message-list-item:hover {
    @apply bg-rose-500 shadow-md;
  }
  .inbox-message-list-item:hover * {
    @apply text-white;
  }
  .inbox-message-list-item.active {
    @apply bg-rose-500 shadow-xl;
  }
  .inbox-message-list-item.active * {
    @apply text-white;
  }

  .label {
    @apply text-sm font-medium text-gray-700;
  }
  .sublabel {
    @apply mb-2 text-xs text-gray-500;
  }

  .form {
    @apply flex flex-col gap-3;
  }

  button[data-active="true"] {
    @apply !bg-accent;
  }

  #cta-bg {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: scale(1.01);
    z-index: 1;
    filter: blur(20px);
    @apply rounded-xl bg-gradient-to-tr from-purple-400 to-pink-400;
  }

  .filepond--panel-root {
    background-color: var(--card);
  }
  #svg-squig path {
    fill: hsl(var(--accent));
    transform: scale(1.5) scaleX(2.4);
  }

  #down-arrow {
    transform: rotateZ(135deg);

    & path {
      fill: hsl(var(--accent));
    }
  }

  #svg-empty {
    scale: 0.25;
  }
  .required:after {
    content: " *";
    color: red;
  }
}

@layer base {
  :root {
    --background: 240 33% 98%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240 5% 45%;

    --card: 210 30% 100%;
    --card-foreground: 222.2 47.4% 18.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 210 20% 93.7%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --primary: 350 89% 60%;
    --primary-foreground: 222.2 47.4% 100%;

    --secondary: 210 40% 97.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 350 89% 60%;
    --accent-foreground: 210 40% 98%;

    --success: 142 71% 45%;
    --success-foreground: 222.2 47.4% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --warning: 55 97% 48%;
    --warning-foreground: 32 81% 29%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --border: 210 40% 86.1%;

    --link: 210 89% 60%;
  }

  .dark {
    /* Default background color of <body />...etc */
    --background: 240 6% 10%;
    --foreground: 213 31% 91%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 66%;

    --card: 240 4% 16%;
    --card-foreground: 213 31% 91%;

    --border: 240 4% 16%;
    --input: 0 0% 20%;

    --popover: 0 0% 20%;
    --popover-foreground: 222.2 47.4% 97.2%;

    /* Primary colors for <Button /> */
    --primary: 350 89% 60%;
    --primary-foreground: 222.2 47.4% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 222.2 47.4% 91.2%;

    --success: 142 71% 45%;
    --success-foreground: 240 6% 10%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 350 89% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --warning: 55 97% 88%;
    --warning-foreground: 32 81% 29%;

    --ring: 240 4% 16%;

    --radius: 0.5rem;

    --border: 240 4% 36%;

    --link: 210 89% 60%;
  }

  body {
    @apply font-sans;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
